include pagination

if artists
    +pagination(query, artists.previous, artists.next, artists.offset, artists.limit, artists.total)
    ul.item-list
      each item in artists.items
          li
              div.item-info.artist-info
                  div
                      strong
                          a(href='/artists/' + item.id, title='Go to details')= item.name
                      span= item.followers + ' followers'
