.tab.mt-2
    button.tab-btn(onclick='window.location.href = "/search?query=' + query + '&type=track"', data-tab='track') Songs
    button.tab-btn(onclick='window.location.href = "/search?query=' + query + '&type=artist"', data-tab='artist') Artists
    button.tab-btn(onclick='window.location.href = "/search?query=' + query + '&type=album"', data-tab='album') Albums

.tab-content
    #track.tab-content-item
        include tracks
    #artist.tab-content-item
        include artists
    #album.tab-content-item
        include albums
