.tab.mt-2
    button.tab-btn.active(data-tab='tracks') Songs
    button.tab-btn(data-tab='artists') Artists
    button.tab-btn(data-tab='albums') Albums

.tab-content
    #tracks.tab-content-item.active
        include tracks
    #artists.tab-content-item
        include artists
    #albums.tab-content-item
        include albums
